@import "../../abstracts/variables";
@import "../../base/animations";

/****** HERO ******/

.header {
  /* a gradient, starting from left and diagonally to 'right bottom' -- it's placed over a background image  */
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../../../assets/img/hero.jpg);

  /* prevents 'cropping' the image when resizing window */
  background-position: top;

  /* occupies 95% of the vertical height */
  height: 95vh;

  /* adjust background image on resize (otherwise it becomes cropped) */
  background-size: cover;

  /* clip the image diagonally to 'remove' the right-bottom piece -- coordinates top-left, top-right,  */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  /* makes the header container the reference for absolute positioned elements within (e.g. 'logo-box') */
  position: relative;

  /****** LOGO ******/

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  /****** MAIN TEXT BOX ******/

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;

    /* after positioning the element we use the translate the element itself */
    transform: translate(-50%, -50%);
  }
}

/****** MAIN TEXT BOX CONTENTS ******/

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 6rem;

  /* ensures that animation will present no 'glitches' */
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    /* uses animation 'moveInLeft' declared below */
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;

    /* uses animation 'moveInRight' declared below ('condensed' syntax) */
    animation: moveInRight 1s ease-out;
  }
}

